/*
Simple block

markup:
<div class="simple-block"></div>

Styleguide 1
*/

.simple-block {
  width: 100px;
  height: 100px;
  background: red;
  border-width: 1px;
  border-color: green;
}

/*
Second block

markup:
<div class="simple-block"></div>

Styleguide 2
*/

/*
Second block subsection

markup:
<div class="simple-block" onclick="this.className+=' simple-block_interacted'">
</div>

Styleguide 2.1
*/

.simple-block_interacted {
    background-color: blue;
}

/*
Third block

markup:
<div class="simple-block"></div>

Styleguide 3
*/
